body{
    background-color: #131212;
    color: #3ffa5b;
    font-family: "MyFont";
    font-size: 35px;

}


@font-face {
    font-family: 'MyFont';
    src: url(Font/Bitwise-m19x.ttf);
}



.ascii{
    font-size: 13px;
    
}

.centered{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; /*customize to your needs 100%*/
    margin-top: 20vh; /*customize to your needs 100%*/
}

span{
    display: inline;
}